@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-secondary: #B4F077;
  --color-primary: #28D99D;
  --color-base-200:#232323;
  --color-base-300:#2C2C2C;

}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-secondary: #B4F077;
  --color-primary: #28D99D;
  --color-base-200:#232323;
  --color-accent:#313647;
  --color-base-300:#2C2C2C;

}
.momo-font {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.glass-card {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.primary-btn{
  @apply px-4 py-3 bg-primary text-black rounded-full
}
.glass-btn{
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  @apply px-4 py-2 rounded-full
}
.linear-text{
  @apply bg-linear-to-bl from-secondary to-primary text-transparent bg-clip-text
}
.linear-btn{
  @apply bg-linear-to-bl from-secondary to-primary 
}
a.active{
  @apply bg-secondary rounded-full text-black font-semibold
}
/* *{
  border:2px solid red;
} */